<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserCreatedTimingFunctions</key>
	<array>
		<dict>
			<key>c1x</key>
			<real>0.4699999988079071</real>
			<key>c1y</key>
			<real>0.0</real>
			<key>c2x</key>
			<real>0.74500000476837158</real>
			<key>c2y</key>
			<real>0.7149999737739563</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Sine-In</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.38999998569488525</real>
			<key>c1y</key>
			<real>0.57499998807907104</real>
			<key>c2x</key>
			<real>0.56499999761581421</real>
			<key>c2y</key>
			<real>1</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Sine-Out</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.44499999284744263</real>
			<key>c1y</key>
			<real>0.05000000074505806</real>
			<key>c2x</key>
			<real>0.55000001192092896</real>
			<key>c2y</key>
			<real>0.94999998807907104</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Sine-InOut</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.55000001192092896</real>
			<key>c1y</key>
			<real>0.085000000894069672</real>
			<key>c2x</key>
			<real>0.68000000715255737</real>
			<key>c2y</key>
			<real>0.52999997138977051</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Quadratic-In</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.25</real>
			<key>c1y</key>
			<real>0.46000000834465027</real>
			<key>c2x</key>
			<real>0.44999998807907104</real>
			<key>c2y</key>
			<real>0.93999999761581421</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Quadratic-Out</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.45500001311302185</real>
			<key>c1y</key>
			<real>0.029999999329447746</real>
			<key>c2x</key>
			<real>0.51499998569488525</real>
			<key>c2y</key>
			<real>0.95499998331069946</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Quadratic-InOut</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.55000001192092896</real>
			<key>c1y</key>
			<real>0.054999999701976776</real>
			<key>c2x</key>
			<real>0.67500001192092896</real>
			<key>c2y</key>
			<real>0.18999999761581421</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Cubic-In</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.21500000357627869</real>
			<key>c1y</key>
			<real>0.61000001430511475</real>
			<key>c2x</key>
			<real>0.35499998927116394</real>
			<key>c2y</key>
			<real>1</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Cubic-Out</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.64499998092651367</real>
			<key>c1y</key>
			<real>0.045000001788139343</real>
			<key>c2x</key>
			<real>0.35499998927116394</real>
			<key>c2y</key>
			<real>1</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Cubic-InOut</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.89499998092651367</real>
			<key>c1y</key>
			<real>0.029999999329447746</real>
			<key>c2x</key>
			<real>0.68500000238418579</real>
			<key>c2y</key>
			<real>0.2199999988079071</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Quartic-In</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.16500000655651093</real>
			<key>c1y</key>
			<real>0.8399999737739563</real>
			<key>c2x</key>
			<real>0.43999999761581421</real>
			<key>c2y</key>
			<real>1</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Quartic-Out</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.76999998092651367</real>
			<key>c1y</key>
			<real>0.0</real>
			<key>c2x</key>
			<real>0.17499999701976776</real>
			<key>c2y</key>
			<real>1</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Quartic-InOut</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.75499999523162842</real>
			<key>c1y</key>
			<real>0.05000000074505806</real>
			<key>c2x</key>
			<real>0.85500001907348633</real>
			<key>c2y</key>
			<real>0.059999998658895493</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Quintic-In</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.23000000417232513</real>
			<key>c1y</key>
			<real>1</real>
			<key>c2x</key>
			<real>0.31999999284744263</real>
			<key>c2y</key>
			<real>1</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Quintic-Out</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.86000001430511475</real>
			<key>c1y</key>
			<real>0.0</real>
			<key>c2x</key>
			<real>0.070000000298023224</real>
			<key>c2y</key>
			<real>1</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Quintic-InOut</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.94999998807907104</real>
			<key>c1y</key>
			<real>0.05000000074505806</real>
			<key>c2x</key>
			<real>0.79500001668930054</real>
			<key>c2y</key>
			<real>0.035000000149011612</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Exponential-In</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.18999999761581421</real>
			<key>c1y</key>
			<real>1</real>
			<key>c2x</key>
			<real>0.2199999988079071</real>
			<key>c2y</key>
			<real>1</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Exponential-Out</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>1</real>
			<key>c1y</key>
			<real>0.0</real>
			<key>c2x</key>
			<real>0.0</real>
			<key>c2y</key>
			<real>1</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Exponential-InOut</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.60000002384185791</real>
			<key>c1y</key>
			<real>0.039999999105930328</real>
			<key>c2x</key>
			<real>0.98000001907348633</real>
			<key>c2y</key>
			<real>0.33500000834465027</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Circular-In</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.075000002980232239</real>
			<key>c1y</key>
			<real>0.81999999284744263</real>
			<key>c2x</key>
			<real>0.16500000655651093</real>
			<key>c2y</key>
			<real>1</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Circular-Out</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.7850000262260437</real>
			<key>c1y</key>
			<real>0.13500000536441803</real>
			<key>c2x</key>
			<real>0.15000000596046448</real>
			<key>c2y</key>
			<real>0.86000001430511475</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Circular-InOut</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.60000002384185791</real>
			<key>c1y</key>
			<real>-0.2800000011920929</real>
			<key>c2x</key>
			<real>0.73500001430511475</real>
			<key>c2y</key>
			<real>0.045000001788139343</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Back-In</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.17499999701976776</real>
			<key>c1y</key>
			<real>0.88499999046325684</real>
			<key>c2x</key>
			<real>0.31999999284744263</real>
			<key>c2y</key>
			<real>1.2749999761581421</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Back-Out</string>
		</dict>
		<dict>
			<key>c1x</key>
			<real>0.68000000715255737</real>
			<key>c1y</key>
			<real>-0.55000001192092896</real>
			<key>c2x</key>
			<real>0.26499998569488525</real>
			<key>c2y</key>
			<real>1.5499999523162842</real>
			<key>className</key>
			<string>CAMediaTimingFunction</string>
			<key>localizedName</key>
			<string>Back-InOut</string>
		</dict>
	</array>
</dict>
</plist>
